.comment-box {
    max-width: 400px;
    margin: auto;
    font-family: Nimbus-Sans-Extended, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 25px 15px 25px 25px;
  

  .comment-left {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .comment-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
    flex-shrink: 0;
  }

  .comment-text {
    color: #333;
    font-size: 1em;
    text-align: justify;
padding-right: 55px;
  }

  .comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
  }

  .comment-time {
    color: #999;
    font-size: 0.85em;
  }

  .comment-footer {
    margin-top: 5px;
    color: #999;
    font-size: 0.85em;
    cursor: pointer;
  }

  .comment-icon {
    color: #333;
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: -10px; 
  }

  .comment-icon:hover {
    color: #ed4956;
  }